.sportsbook-row {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid #f6f6f6;
    border-radius: 4px;
    margin: 8px 0;
    padding: 0px 16px 40px 16px;
    overflow: hidden;

    @media (min-width: 1100px) {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 24px !important;
    }

    @media (max-width: 1100px) and (min-width: 680px) {
        width: calc(50% - 8px);
    }
}

.logo-cell {
    flex: 1;
    min-height: 70px;
    max-width: 160px;
    min-width: 160px;
    margin: 40px 0 0 0;

    &-image {
        width: 100%;
    }

    @media (min-width: 1100px) {
        flex: 0.13;
        margin: 0;
        width: 13%;
        min-height: 0;
    }
}

.bonus-cell {
    margin: 0;
    margin-bottom: 16px;
    flex: 0.25;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-plate {
        font-size: 10px;
        color: #23bf57;
        font-weight: 700;
        padding: 4px 8px;
        border-radius: 4px;
        text-transform: uppercase;
        background: #e3fcef;
        width: fit-content;
    }

    &-title {
        font-size: 20px;
        line-height: 24px;
        color: #15202b;
        font-weight: 700;
    }

    &-about {
        font-size: 10px;
        color: '#727272';
        line-height: 16px;
        font-weight: 600;
    }

    @media (min-width: 1100px) {
        flex: 0.25;
        margin: 0;
        width: 25%;

        &-title {
            font-size: 24px;
        }
    }
}

.divider {
    width: 100%;
    height: 1px;
    background: #f6f6f6;
    margin-bottom: 16px;

    @media (min-width: 1100px) {
        display: none;
    }
}

.rating-cell {
    margin: 0 0 16px 0;
    flex: 0.11;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &-container {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;

        .stars-ratings {
            display: flex;
        }
    }

    &-title {
        font-size: 10px;
        color: '#727272';
        line-height: 16px;
        font-weight: 600;
    }

    &-value {
        margin: 6px;
        margin-left: 0;
        font-size: 16px;
        line-height: 20px;
        color: #15202b;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

    &-icon {
        width: 26px;
        height: 26px;
        fill: #fd5000;
        margin-right: 4px;
        transform: scale(1.25);
    }

    &-icon--second {
        background: #e3fcef;
        border-radius: 50%;
        margin-right: 4px;
        transform: scale(1);
    }

    &-desktopstars {
        display: none;
    }

    &-link {
        color: #253341;
        font-size: 12px;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px solid #fd5000;
        display: none;
        margin-top: 20px;
    }

    @media (min-width: 1100px) {
        flex: 0.11;
        margin: 0;
        width: 11%;
        min-width: 130px;
        max-width: 130px;

        &-container {
            width: 100%;
        }

        &-container--second {
            display: none;
        }

        &-icon {
            display: none;
        }

        &-title {
            display: none;
        }

        &-value {
            margin: 0;
        }

        &-desktopstars {
            display: block;
        }

        &-link {
            display: inline-block;
        }
    }
}

.payout-cell {
    display: none;
    margin: 0;
    flex: 0.08;
    width: 100px;
    margin-bottom: 30px;

    &-icon {
        width: 26px;
        height: 26px;
    }

    &-value {
        font-size: 16px;
        color: #15202b;
        line-height: 20px;
        font-weight: 700;
    }

    @media (min-width: 1100px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.benefits-cell {
    display: none;
    margin: 0;
    flex: 0.26;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 22px;
        color: #15202b;
        gap: 6px;
    }

    & svg {
        width: 26px;
        height: 26px;
    }

    @media (min-width: 1100px) {
        display: block;
    }
}

.bet-button-cell {
    width: 100%;
    margin: 0;
    flex: 0.17;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-promo {
        width: 100%;
        height: 56px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        color: #15202b;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-weight: 500;
        border: 2px dashed #fd5000;

        &-title {
            font-size: 12px;
        }

        &-code {
            font-size: 14px;
        }
    }

    &-link {
        width: 100%;
        height: 40px;
        background-color: #fd5000;
        display: flex;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }

    @media (min-width: 1100px) {
        width: 17%;
        min-width: 200px;
    }
}

.number-plate {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 7px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    border-radius: 0 0 4px 0;
    height: 18px;

    &--first {
        color: #fff;
        background: #1a73e8;
        text-transform: uppercase;
    }

    &--other {
        color: #15202b;
        background: #f6f6f6;
    }

    @media (min-width: 1100px) {
        top: 8px;
        left: 12px;
        border-radius: 4px;
    }
}